@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
}

html.user-is-tabbing button:focus, html.user-is-tabbing a:focus, html.user-is-tabbing input:focus, html.user-is-tabbing textarea:focus {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
}

body {
  background: var(--bg);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}
